<h1 class="animated fadeIn fast">¿Quienes Somos?</h1>
<hr>
<p class="animated fadeIn">

</p>
<div class="row">
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="../../../../assets/img/neko.png" class="card-img-top" >    
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            
            <div class="card-body">
              <h5 class="card-title">Organizacion de Rescate, Rehabilitacion y Adopcion</h5>
                <p class="card-text">
                    Es una organizacion sin fines de lucro, con el proposito de 
                    hacer un bien social hacia los gatos sin hogar.
                </p>
                <p class="card-text">
                    Esta idea inicio entre amigos, y un gran amor hacia los gatos, dado que existen muchos 
                    abandonos (en su mayoria si con hembras), incluso algunas personas sin escrupulos, los matan,
                    los meten en bolsas, los votan a la basura, etc.
                </p>
                <p class="card-text">
                   De acuerdo a las posibilidades que teniamos, iniciamos con dichos rescates, de ahi poco a poco 
                   algunas personas comenzaron a unirse a nuestros rescates, para nosotros fue un logro en la sociedad
                   el poder tener cada vez mas voluntarios. 
                </p>
                <p class="card-text">
                   Y asi poco a poco fue creciendo nuestra familia gatuna, nos volvimos una organizacion oficial el 2012, 
                   hasta el presente, cada vez vamos creciendo, tenemos muchos proyectos, iniciando desde la construccion
                   de un albergue para todos aquellos gatitos sin hogar(estamos muy agradecidos con todas esas peronas que nos
                   apoyan con su granito de arena).  
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="../../../../assets/img/4.png" class="card-img-top" >         
        </div>
    </div>
    
</div>