<!-- Footer -->
<footer class="page-footer font-small teal pt-4" style="background-color: #e3f2fd;">

    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
        
        <!-- Grid column -->
        <div class="col-md-4 mt-md-0 mt-3 ">
  
          <!-- Content -->
          <img src="../../../../assets/img/logo.png" width="200">
  
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold">Redes Sociales </h5>
          <img src="../../../../assets/img/face.png" width="60"> NEKO,Generando Conciencia Colectiva
          <br>
          <img src="../../../../assets/img/insta.png" width="60"> Neko Generando Conciencia Colectiva
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-4 mb-md-0 mb-3">
  
          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold">Redes Sociales</h5>
          <img src="../../../../assets/img/contacto.png" width="60"> +591 76939777
          <br>
          <img src="../../../../assets/img/mail.png" width="50"> NekoGenerandoConciencia@gmail.com
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Text -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3"> © 2020 Copyright: Universidad Domingo Savio
      
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->