<h1>Registro de Adopciones</h1>

    <form class="offset-1">
        <div class="form-group">
          <label >Nombre Adoptante: </label>
          <input type="email" class="form-control" placeholder="Nombre Completo" required>
        </div>
       
        <div class="form-group">
            <label >Nombre gato a adoptar: </label>
            <input type="text" class="form-control" placeholder="Nombre del gato"  required>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Tipo de Adopcion</label>
            <select class="form-control" name="" id="">
                <option value="Completo">Completo</option>
                <option value="Completo">Ocacional</option>
            </select>
          </div>
        <div class="form-group">
            <label >Descripcion adopcion: </label>
            <input type="text" class="form-control" placeholder="Descripcion adopcion"  required>
        </div>
        
        
        <button type="submit" class="btn btn-primary">Registrar</button>
      </form>
      <br>
      <br>
     
      <div class="row offset-1">
        <h1>Lista de Adopciones</h1>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre Persona</th>
                <th scope="col">Nombre Gato</th>
                <th scope="col">Descripcion</th>
              </tr>
            </thead>
           
          </table>
      </div>
